<mat-toolbar class="mat-elevation-z4">
    <span class="example-fill-remaining-space">
        <a mat-button routerLink="/" routerLinkActive="mat-primary">
            <i class="material-icons">
                dashboard
            </i>
            Minha Inflação
        </a>
    </span>

    <button mat-button [matMenuTriggerFor]="menuListas">
        <mat-icon>list</mat-icon>
        Listas
    </button>
    <mat-menu #menuListas="matMenu">
        <button mat-menu-item routerLink="/chart2"   routerLinkActive="active">Lista Itens</button>
        <button mat-menu-item routerLink="/list1qtd" routerLinkActive="active">Qtd Produtos</button>
        <button mat-menu-item routerLink="/gastos-por-mes" routerLinkActive="active">Gastos por mês</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menuCadNota">
        <mat-icon>analytics</mat-icon>
        Cadastrar Notas
    </button>
    <mat-menu #menuCadNota="matMenu" >
        <button mat-menu-item routerLink="/chaves-create" routerLinkActive="active">
            Importar Nfs com chave
        </button>
        <button mat-menu-item routerLink="/chave-import-qrcode" routerLinkActive="active">
            Importar Nfs - QR Code
        </button>
        <button mat-menu-item routerLink="/chave-read-qrcode" routerLinkActive="active">
            Consultar Nfs - QR Code
        </button>
    </mat-menu>
    
</mat-toolbar>