<mat-toolbar class="mat-elevation-z4">
    <span>Minha Inflação</span>
 
    <span class="example-fill-remaining-space">
        <a mat-button routerLink="/home" routerLinkActive="mat-accent">
            <i class="material-icons">
                dashboard
            </i>
            Início
        </a>
        <a mat-button  routerLink="/chart1" routerLinkActive="mat-accent">
            <i class="material-icons">
                timeline
            </i>
            Gráfico 1
        </a>
        <a mat-button  routerLink="/chart2" routerLinkActive="mat-accent">
            <i class="material-icons">
                analytics
            </i>
            Gráfico 2
        </a>
        <a mat-button  routerLink="/chaves-create" routerLinkActive="mat-accent">
            <i class="material-icons">
                analytics
            </i>
            Importar Nfs
        </a>        
    </span>
    <span>Mix Nf-x</span>
</mat-toolbar>