<mat-card class="matcard">
    <form>
        <mat-form-field class="full-width">
            <input matInput (keyup)="applyFilterItens($event.target.value)" placeholder="Filtrar" autocomplete="off" [(ngModel)]="filtro">
        </mat-form-field>
    </form>
</mat-card>

    <!-- Lista todos os produtos base list1qtd totais-->

    <div id="divtableItens" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSourceItens" matSort id="tableItens">

        <ng-container matColumnDef="butao">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
                <button mat-button  (click)="clickAddItem(row)">
                    <mat-icon>home</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="descricao1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descricao </th>
            <td mat-cell *matCellDef="let element1"> {{element1.descricao}} </td>
        </ng-container>
                
        <ng-container matColumnDef="avg1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> R$ Médio </th>
            <td mat-cell *matCellDef="let element1"> <i> {{element1.avg | currency:'BRL':'symbol'}} </i>  </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsItens"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsItens;"></tr>
    </table>
    <mat-paginator pageSize="10" [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
