<mat-card class="matcard">
    <mat-card-title>Importar Notas fiscais</mat-card-title>
    <form>
        <mat-form-field class="full-width">
            <textarea matInput placeholder="Chaves..." rows="19" [(ngModel)]="chavesStr" name="chavesStr"></textarea>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="createProcess()" color="primary" [disabled]="spinnerWait">
        Salvar
    </button>
    
    <mat-spinner *ngIf="spinnerWait"></mat-spinner>
</mat-card>

<div *ngIf="chavesParaConsulta != null" >
    <nota-fiscal *ngFor="let c of chavesParaConsulta" [chaveInput]="c"></nota-fiscal>
</div>