
<h1>Tabelas/Listas:</h1>

<h2> Variação dos preços em determinado período </h2>

<h2> Valor total por mês</h2>

<h1> Dicas </h1>
<h1> Trocar ou melhorar os charts. Fazer direto no angular </h1>
<h3> Um gráfico por produto. (Colocar junto na table?)</h3>

<h1>Melhorias no Importar:</h1>
<h1> Toast - escrever e retornar mensagens, erros, oks etc. </h1>
<h1> Melhorar o Progress spinner </h1>
<h1> Após incluir os registros limpar o campo, e dar uma msg de ok.</h1>
<h1>Formatar retorno</h1>
Erros: 
4.3191293015006e+43
<h1> App para ler o qr code, pedir permissão para acessar a camera. </h1>

<h1> Mudar para o prime ng</h1>
https://www.primefaces.org/primeng/showcase/#/