
<span>Mix Nf-x</span>

<h1>Tabelas/Listas:</h1>

Lista de estabelecimentos,
cadastro de estabelecimento. importar dados da sefaz?
Produtos por estabelecimento.

<h2> Variação dos preços em determinado período </h2>

Fazer um cadastro de categoria CRUD, e agrupar produtos.
Fazer categorias, categorizar automaticamente pelo nome da loja. <br/>
Gráfico destas categorias.

Sistema de login Oauth2 com google
contas compartilhadas entre casais.

<h1> Dicas </h1>
<h1> Trocar ou melhorar os charts. Fazer direto no angular, usar primefacesNg? </h1>
<h3> Um gráfico por produto. (Colocar junto na table?)</h3>

<button mat-stroked-button (click)="openSnackBar('Teste de mensagem.')">Show snack-bar</button>
<h1>Melhorias no Importar:</h1>
<h1> Melhorar o Progress spinner </h1>
colocar um progress conforme o número de itens inseridos.
<h1> Após incluir os registros dar uma msg de ok.</h1>


<h1> Mudar para o prime ng?</h1>
https://www.primefaces.org/primeng/showcase/#/

Usar uma inteligência artificial para categorizar automaticamente os itens.