
<span>Mix Nf-x</span>

<h1>Tabelas/Listas:</h1>
Agrupar pos listas
<h3> Produtos com mesma descrição mas código diferente, aparecem duas vezes, diferenciar por nome?</h3>
<h2> Variação dos preços em determinado período </h2>

Fazer categorias, categorizar automaticamente pelo nome da loja. <br/>



<h1> Dicas </h1>
<h1> Trocar ou melhorar os charts. Fazer direto no angular </h1>
<h3> Um gráfico por produto. (Colocar junto na table?)</h3>

<h1>Melhorias no Importar:</h1>
<h1> Toast - escrever e retornar mensagens, erros, oks etc. </h1>
<h1> Melhorar o Progress spinner </h1>
<h1> Após incluir os registros limpar o campo, e dar uma msg de ok.</h1>


<h3> Melhorar o retorno, mensagens de erro, mostrar a nota importada </h3>
Consultar a nota antes de importar, verificar se já foi importada, colocar na lista de erro como já importada.


<h1> Mudar para o prime ng?</h1>
https://www.primefaces.org/primeng/showcase/#/