

<h1>Estabelecimento</h1>
Lista de estabelecimentos,
cadastro de estabelecimento. importar dados da sefaz?
Produtos por estabelecimento.

<h2> Variação dos preços em determinado período INFLAÇÃO </h2>

Fazer um cadastro de categoria CRUD, e agrupar produtos.
Fazer categorias, categorizar automaticamente pelo nome da loja. <br/>
Gráfico destas categorias.
Usar uma inteligência artificial para categorizar automaticamente os itens.

Sistema de login Oauth2 com google
contas compartilhadas entre casais.

<h3> Um gráfico por produto. (Colocar junto na table?)</h3>

<button mat-stroked-button (click)="openSnackBar('Teste de mensagem.')">Show snack-bar</button>

<h1> Melhorar o Progress spinner no Importar</h1>
colocar um progress conforme o número de itens inseridos.

Melhorar a validação, permite qualquer coisa na impmortação.

Melhorar a leitura das notas, está sempre dando ok.
Remover o textarea na leeitura.

<h1> Trocar ou melhorar os charts. Fazer direto no angular, usar primefacesNg? </h1>
<h1> Mudar para o prime ng?</h1>
https://www.primefaces.org/primeng/showcase/#/




Badge - novas notas incluidas, um ícone informando quantas notas foram incluídas

Cadastro de estabelecimentos
<pre>
Cards na tela inicial, com informações e estatísticas
    Qtd notas, qtd por estabelecimento
    qtd produtos, qtd itens 
    Médias, Valor Total, Valor total desconto, Tributos aproximados
    Gráfico pequeno com gastos mensais
    Gráfico pequeno com o valor das últimas notas
</pre>