<nfx-header></nfx-header>

<mat-sidenav-container class="sidenav-container" hasBackdrop="true">

    <mat-sidenav #sidenav mode="over">
    
        <mat-toolbar>
            <mat-icon>list</mat-icon>
            Menu
        </mat-toolbar>
        <mat-nav-list (click)="sidenav.toggle()">
            <mat-list-item routerLink="/item-lista-incluir"  routerLinkActive="active"> Item Lista </mat-list-item>
            <mat-list-item routerLink="/list-inflacao"  routerLinkActive="active"> Inflação </mat-list-item>
            <mat-list-item routerLink="/chart2"  routerLinkActive="active"> Lista Itens </mat-list-item>
            <mat-list-item routerLink="/list-notas"  routerLinkActive="active"> Notas </mat-list-item>
            <mat-list-item routerLink="/list1qtd"  routerLinkActive="active"> Totais </mat-list-item>
            <mat-list-item routerLink="/gastos-por-mes"  routerLinkActive="active"> Gastos por mês </mat-list-item>
            <mat-list-item routerLink="/chaves-create"  routerLinkActive="active"> Importar Nfs com chave</mat-list-item>
            <mat-list-item routerLink="/chave-import-qrcode"  routerLinkActive="active"> Importar Nfs [QRCode] </mat-list-item>
            <mat-list-item routerLink="/chave-read-qrcode"  routerLinkActive="active"> Consultar Nfs  [QRCode] </mat-list-item>
        </mat-nav-list>
    
    </mat-sidenav>
    
    <mat-sidenav-content>
        <mat-toolbar class="mat-elevation-z4">
            <button mat-button (click)="sidenav.open()">
                <mat-icon>dashboard</mat-icon>
                Meu índice
            </button>

            <span style="position: absolute; right: 0px;">
                <a mat-button routerLink="/login" routerLinkActive="mat-primary">
                    <i class="material-icons">double_arrow</i>
                    Sair
                </a>
            </span>
        </mat-toolbar>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>